<div class="text-center">
    <%= image_tag @post.image if @post.image.attached? %>
</div>

<div class="form-wrapper">
    <%= render 'form' %>
    <div class="text-center edit-links">
        <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?", turbo: false } %>
        |
        <%= link_to "Cancel", posts_path %>
    </div>
</div>