<div class="container">
    <div>
        <div class="posts-wrapper">
            <% @posts.each do |post| %>
                <div class="post">
                <div class="post-head">
                    <div class="name">
                    Ben Dover
                    <span class="display-block"></span>
                    </div>
                </div>
                <div class="image">
                    <%= link_to post_path(post) do %>
                    <%= image_tag post.image, class: 'img-responsive' %>
                    <% end %>
                </div>
                <div class="caption">
                    <%= post.caption %>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>